
body{

    margin-top:1%;
    background-image: url(/img/Imagenes/bg-principal.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;


}


#jumbo{

    opacity: 0.7;
    height:5%;

        
}

#imagen-jumbo{

    height:15%;
    width:15%;

}

.radio{

    border-radius: 16px;

}

.pagar{

    border: 1px solid #38A3A5;
    color:black;
    background-color: rgba(255,255,255, 0.7);
    
}

.pagar:hover{

    background-color:#80ED99;

}

a:hover{

    text-decoration:none;

}

.fondo-footer{

    background-color: rgb(212, 209, 209, 0.8);

}
