/* body{

    background: url('./assets/Imagenes/background/bg-principal.png'); 


} */


#hover:hover{

    cursor: pointer;

}


#hover{

    text-decoration: none !important;
    color: inherit !important;

}