


<div class="container-fluid">

    <div class="row">

        <div>
            <app-header></app-header>
        </div>


    </div>

    <div class="row d-flex justify-content-around">

        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-1 col-xs-1 text-center">

            <p>Primer Índice</p>

        </div>

        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-1 col-xs-1 text-center">

            <p>Segundo Índice</p>

        </div>

        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-1 col-xs-1 text-center">

            <p>Tercer Índice</p>

        </div>

    </div>

    <div class="row">

            <app-footer></app-footer>

    </div>

</div>

