/* 

#foto_cards{


    width:70%;

    height:70%;


} */


#Naturaleza{

    border-color: rgb(151, 216, 151);

}

#Caridad{

    border-color: rgb(216, 201, 151);

}

#Animales{

    border-color: rgb(168, 232, 235);

}
