
  <div class="row">

    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-0 col-xs-0 border">

      <img src="../../../assets/Imagenes/animals.jpg" alt="" class="img-fluid p-5 rounded">

    </div>

    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 border"> 


        <form action="" class="p-5 text-center" method="post">
  
          <h5>Iniciar Sesión</h5>
          <hr class="w-50">
          <div class="mb-3 pt-5">
            <label for="exampleFormControlInput1" class="form-label">Correo</label>
            <input type="email" class="form-control rounded-pill border-success">
          </div>

          <div class="mb-3 pt-5">
            <label for="exampleFormControlInput1" class="form-label">Contraseña</label>
            <input type="password" class="form-control rounded-pill border-success">
          </div>
  
        </form>


    </div>


  </div>


