    <div class="row d-flex justify-content-around">

      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 mt-2 mb-4 d-flex justify-content-center">
        <div class="card h-100 radio mt-2 mb-4" style="width: 18rem;">
          <img class="card-img-top h-50" src="../../../assets/Imagenes/front-page/question-solid.svg" alt="Card image cap">
          <div class="card-body text-center">
            <h5 class="card-title">Quienes Somos</h5>
            <p class="card-text">En Help&BeHelped pretendemos conectar las personas con las ONG y con actividades para
              ayudar a la comunidad y crear un mundo mejor entre todos .... <a href="http://">leer mas</a></p>
          </div>
        </div>
      </div>

      <div
        class="col-xl-3 offset-xl-1 col-lg-3 offset-lg-1 col-md-3 offset-md-1 col-sm-12 col-xs-12 mt-2 mb-4 d-flex justify-content-center">
        <div class="card h-100 radio " style="width: 18rem;">
            <img class="card-img-top p-4 h-50" src="../../assets/Imagenes/front-page/question-solid.svg"
            alt="Card image cap">
          <div class="card-body text-center">
            <h5 class="card-title">Comienza tu aventura</h5>
            <p class="card-text">Busca las ultimas actividades de tu gusto, busca voluntariado en ONG's o ayuda con tus
              pequeños gestos </p>
            <a href="../web/index.html"><button type="button"
                class="subscribe btn btn-block btn-outline-success rounded-pill shadow-sm pagar">
                Comenzar !
              </button></a>
          </div>
        </div>
      </div>

      <div
        class="col-xl-3 offset-xl-1 col-lg-3 offset-lg-1 col-md-3 offset-md-1 col-sm-12 col-xs-12 mt-2 mb-4 d-flex justify-content-center">
        <div class="card h-100 radio " style="width: 18rem;">
          <img class="card-img-top p-3 h-50" src="../../../assets/Imagenes/front-page/question-solid.svg"
            alt="Card image cap">
          <div class="card-body text-center">
            <h5 class="card-title">No Dudes en Preguntar</h5>
            <p class="card-text">No dudes en preguntarnos cualquier cosa, estamos en tu plena disposicion</p> <a
              href="../web/contacto.html"><button type="button"
                class="subscribe btn btn-block btn-outline-success rounded-pill shadow-sm pagar">
                Contactanos
              </button></a>
          </div>
        </div>
      </div>

    </div>