<!DOCTYPE html>
<html lang="en">
<app-header>
</app-header>
<body>


  <div class="container-fluid">


    <div id="jumbo" class="jumbotron jumbotron-fluid fondo-header">
      <div class="container d-flex justify-content-center">
        <img src="../../img/Imagenes/background/final-logo.png" class="w-75" alt="">
      </div>
    </div>


    <div class="row d-flex justify-content-around">

      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 mt-2 mb-4 d-flex justify-content-center">
        <div class="card h-100 radio mt-2 mb-4" style="width: 18rem;">
          <img class="card-img-top h-50" src="../logos/log.svg" alt="Card image cap">
          <div class="card-body text-center">
            <h5 class="card-title">Quienes Somos</h5>
            <p class="card-text">En Help&BeHelped pretendemos conectar las personas con las ONG y con actividades para
              ayudar a la comunidad y crear un mundo mejor entre todos .... <a href="http://">leer mas</a></p>
          </div>
        </div>
      </div>

      <div
        class="col-xl-3 offset-xl-1 col-lg-3 offset-lg-1 col-md-3 offset-md-1 col-sm-12 col-xs-12 mt-2 mb-4 d-flex justify-content-center">
        <div class="card h-100 radio " style="width: 18rem;">
          <img class="card-img-top p-4 h-50" src="../web/img/Imagenes/front-page/globe-europe-solid.svg"
            alt="Card image cap">
          <div class="card-body text-center">
            <h5 class="card-title">Comienza tu aventura</h5>
            <p class="card-text">Busca las ultimas actividades de tu gusto, busca voluntariado en ONG's o ayuda con tus
              pequeños gestos </p>
            <a href="../web/index.html"><button type="button"
                class="subscribe btn btn-block btn-outline-success rounded-pill shadow-sm pagar">
                Comenzar !
              </button></a>
          </div>
        </div>
      </div>

      <div
        class="col-xl-3 offset-xl-1 col-lg-3 offset-lg-1 col-md-3 offset-md-1 col-sm-12 col-xs-12 mt-2 mb-4 d-flex justify-content-center">
        <div class="card h-100 radio " style="width: 18rem;">
          <img class="card-img-top p-3 h-50" src="../web/img/Imagenes/front-page/question-solid.svg"
            alt="Card image cap">
          <div class="card-body text-center">
            <h5 class="card-title">No Dudes en Preguntar</h5>
            <p class="card-text">No dudes en preguntarnos cualquier cosa, estamos en tu plena disposicion</p> <a
              href="../web/contacto.html"><button type="button"
                class="subscribe btn btn-block btn-outline-success rounded-pill shadow-sm pagar">
                Contactanos
              </button></a>
          </div>
        </div>
      </div>

    </div>

  </div>
  <!-- Footer -->
  <footer class="page-footer font-small blue pt-4 fondo-footer">

    <div class="footer-copyright ">


      <div class="row p-3">

        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12">

          <h3><u>Búscanos</u></h3>
          <p>Carrer del Rei En Jaume I, 2, 46470 Catarroja, Valencia</p>
          <p class="font-italic">961 15 23 32</p>


        </div>
        <div class="col-xl-3 col-lg-3 col-md-3s col-sm-12 col-xs-12">

          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3082.95400505406!2d-0.41491558437315296!3d39.40254662461378!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd604e82a8672a35%3A0xed578f5f80fed685!2sFlorida%20Universitaria!5e0!3m2!1ses!2ses!4v1643050769604!5m2!1ses!2ses"
            width="300" height="150" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center mt-0">

          <p class="mt-5 font-weight-bold"> &copy; 2022 Copyright Help&BeHelped <img src="../logos/log.svg"
              class="w-25 h-25"></p>

        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12">

          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 social-menu">
            <ul class="mt-5">
              <li><a href="https://github.com/PauSanCli" target="blank"><i class="fab fa-github"></i></a></li>
              <li><a href="https://www.instagram.com/?hl=es" target="blank"><i class="fab fa-instagram"></i></a></li>
              <li><a href="https://www.linkedin.com/in/pau-s%C3%A1nchez-climent-397a26220/" target="blank"><i
                    class="fab fa-linkedin-in"></i></a></li>
              <li><a href="https://twitter.com/"><i class="fab fa-twitter" target="blank"></i></a></li>
            </ul>
          </div>

        </div>

      </div>
    </div>

    <!-- Copyright -->

  </footer>
  <!-- Footer -->

</body>

</html>