





<div class="container-fluid">

    <div class="row mb-5">

        <app-header></app-header>


    </div>

    <div class="row">

        <nav class="navbar navbar-expand-md navbar-light mt-1"  style="background-color: #d0f3c76c;">

            <div class="d-flex justify-content-between w-100">

                <div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link borde-color" href="/welcome"><i class="fa-solid fa-house"></i> Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/welcome"><i class="fas fa-star"></i> Favoritos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/welcome"><i class="fa-solid fa-address-book"></i> Contacto</a>
                        </li>
                        <div class="dropdown ">
                            <a class="nav-link dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-search"></i> Buscar</a>
        
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="nav-link dropdown-item" href="#"><i class="fas fa-fire"></i> Popular</a>
                                <a class="nav-link dropdown-item" href="#"><i class="fas fa-leaf"></i> Naturaleza</a>
                                <a class="nav-link dropdown-item" href="#"><i class="fas fa-paw"></i> Animales</a>
                                <a class="nav-link disabled dropdown-item noclick bg-light"><i class="fas fa-calendar-alt"></i>Comming Soon</a>
                            </div>
                        
                        </div>
                        </ul>
    
                    </div>
                </div>

                <div class="mt-2 me-5">
                    <a href="/logout" id="hover"><p class="fw-light" id="hover" ><i class="fa-solid fa-user me-2" style="color:grey"></i>Cerrar Sesión</p></a>
                </div>

            </div>





        </nav>


    </div>

    <div class="row mt-5">

        <div class="col-lg-12 md-12 col-sm-12 col-xs-12 rounded d-flex justify-content-center">

            <div class="card text-center w-50 shadow-lg">
                <div class="card-header">
                    <p class="fs-3 fw-light">Crear nuevo Evento</p>
                </div>
                <div class="card-body mx-auto">
                    <form (ngSubmit)="addEvento()" id="addEvento" class="mt-4 mb-4">

                        <div class="row g-3 align-items-center">
                            <div class="col-auto">
                              <label for="inputPassword6" class="col-form-label">Título</label>
                            </div>

                            <div class="col-auto">
                              <input type="text" id="inputPassword6" class="form-control" name="titulo" aria-describedby="passwordHelpInline">
                            </div>

                            <div class="col-auto">
                                <label for="inputPassword6" class="col-form-label">Fecha</label>
                              </div>

                              <div class="col-auto">
                                <input type="date" id="inputPassword6" class="form-control"  name="fecha" aria-describedby="passwordHelpInline">
                              </div>

                          </div>

                          <div class="row mt-4">

                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"  name="descripcion" style="height: 100px"></textarea>
                                <label for="floatingTextarea2" class="ps-4">Descripción del evento</label>
                              </div>

                          </div>

                          <div class="row mt-4">


                            <div class="col-auto">
                                <label class="col-form-label">Tipo de Evento</label>
                                </div>

                            <div class="col">
                                <select class="form-select" aria-label="Default select example"  name="tipo">
                                    <option selected value="naturaleza">Naturaleza</option>
                                    <option value="Limpieza">Limpieza</option>
                                    <option value="Anmales">Animales</option>
                                    <option value="Caridad">Caridad</option>
                                    <option value="Otros">Otros..</option>
                                    </select>
                            </div>

                        
               
                            
                        </div>

                        <div class="mb-3 mt-3">
                            <label for="formFile" class="form-label">Añadir Imagen</label>
                            <input class="form-control" type="file" id="formFile"  name="imagen">
                        </div>

                        <input type="hidden" name="creador" #creador>

                        <div class="d-grid gap-2 col-6 mx-auto mt-5">
                            <button class="btn btn-outline-success" type="submit" #submit>Crear</button>
                        </div>

                    </form>
                </div>
                <div class="card-footer text-muted">
                    Creado por : {{usuario}} <span #creador> </span>
                </div>
                </div>

        </div>

    </div>




    <div class="row mt-5 mb-0">

        <app-footer></app-footer>

    </div>


</div>
