





<div class="container-fluid">

    <div class="row mb-5">

        <app-header></app-header>


    </div>

    <div class="row">

        <app-nav></app-nav>


    </div>

    <div class="row mt-5">

        <div class="col-lg-12 md-12 col-sm-12 col-xs-12 rounded d-flex justify-content-center">

            <div class="card text-center w-50 shadow-lg">
                <div class="card-header">
                    <p class="fs-3 fw-light">Crear nuevo Evento</p>
                </div>
                <div class="card-body mx-auto">
                    <form  id="addEvento" (submit)="addEvento()" class="mt-4 mb-4">

                        <div class="row g-3 align-items-center">
                            <div class="col-auto">
                              <label for="inputPassword6" class="col-form-label">Título</label>
                            </div>

                            <div class="col-auto">
                              <input type="text" id="inputPassword6" class="form-control" name="titulo" [(ngModel)]="titulo" aria-describedby="passwordHelpInline">
                            </div>

                            <div class="col-auto">
                                <label for="inputPassword6" class="col-form-label">Fecha</label>
                              </div>

                              <div class="col-auto">
                                <input type="date" id="inputPassword6" class="form-control"  name="fecha" [(ngModel)]="fecha" aria-describedby="passwordHelpInline">
                              </div>

                          </div>

                          <div class="row mt-4">

                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" [(ngModel)]="descripcion" name="descripcion" style="height: 100px"></textarea>
                                <label for="floatingTextarea2" class="ps-4">Descripción del evento</label>
                              </div>

                          </div>

                          <div class="row mt-4">


                            <div class="col-auto">
                                <label class="col-form-label">Tipo de Evento</label>
                                </div>

                            <div class="col">
                                <select class="form-select" aria-label="Default select example" [(ngModel)]="tipo"  name="tipo">
                                    <option selected value="naturaleza">Naturaleza</option>
                                    <option value="Limpieza">Limpieza</option>
                                    <option value="Anmales">Animales</option>
                                    <option value="Caridad">Caridad</option>
                                    <option value="Otros">Otros..</option>
                                    </select>
                            </div>

                        
               
                            
                        </div>

                        <div class="mb-3 mt-3">
                            <label for="formFile" class="form-label">Añadir Imagen</label>
                            <input class="form-control" type="file" id="formFile" [(ngModel)]="formFile" name="imagen">
                        </div>

                        <input type="hidden" name="creador" #creador>

                        <div class="d-grid gap-2 col-6 mx-auto mt-5">
                            <button class="btn btn-outline-success" type="button" (click)="addEvento()" #submit>Crear</button>
                        </div>

                    </form>
                </div>
                <div class="card-footer text-muted">
                    Creado por : {{usuario}} <span #creador> </span>
                </div>
                </div>

        </div>

    </div>




    <div class="row mt-5 mb-0">

        <app-footer></app-footer>

    </div>


</div>
