


<footer class="footer mt-auto py-3 bg-light bg-opacity-25">

    <div class="container-fluid bg-light h-100 d-flex justify-content-between">

        <div class="col pt-5 pb-5 ps-5">

            <i class="fa-brands fa-facebook fa-2x ps-3 pt-5"></i>
            <i class="fa-brands fa-instagram fa-2x ps-3"></i>
            <i class="fa-brands fa-twitter fa-2x ps-3"></i>
            <i class="fa-brands fa-youtube fa-2x ps-3"></i>

        </div>

        <div class="col pt-5 pb-5">

            <img src="../../../assets/Imagenes/front-page/transparent-bg.png" alt="" class="rounded w-100 pt-3">

        </div>

        <div class="col pt-5 pb-5 d-flex justify-content-center">

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3084.6078642549487!2d-0.6145360343739692!3d39.36511592684284!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd60ff773769f90b%3A0x8a78fb3ce7c05f0d!2s46192%20Nostra%20Senyora%20de%20l&#39;Assumpci%C3%B3%2C%20Val%C3%A8ncia!5e0!3m2!1sca!2ses!4v1651503763593!5m2!1sca!2ses" width="300" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        </div>

    </div>

</footer>